examples/latest-workout-session.json
[
    {
        "id": "latest-workout-flow",
        "type": "tab",
        "label": "Latest Workout Session",
        "disabled": false,
        "info": "This flow demonstrates how to retrieve the latest workout session from Wger."
    },
    {
        "id": "wger-config-auth",
        "type": "wger-config",
        "name": "Wger API (Authenticated)",
        "apiUrl": "https://wger.de",
        "authType": "token"
    },
    {
        "id": "inject-latest",
        "type": "inject",
        "z": "latest-workout-flow",
        "name": "Get Latest Session",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 100,
        "wires": [["get-latest-session"]]
    },
    {
        "id": "get-latest-session",
        "type": "wger-workout",
        "z": "latest-workout-flow",
        "name": "Latest Session",
        "server": "wger-config-auth",
        "operation": "getLatestWorkoutSession",
        "x": 350,
        "y": 100,
        "wires": [["debug-session", "format-session"]]
    },
    {
        "id": "debug-session",
        "type": "debug",
        "z": "latest-workout-flow",
        "name": "Session Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "format-session",
        "type": "function",
        "z": "latest-workout-flow",
        "name": "Format Session",
        "func": "if (msg.payload) {\n    const session = msg.payload;\n    msg.payload = {\n        date: session.date,\n        workout: session.workout,\n        impression: session.impression,\n        notes: session.notes,\n        id: session.id\n    };\n    \n    // Store session ID for further operations\n    flow.set('latestSessionId', session.id);\n    flow.set('latestWorkoutId', session.workout);\n    \n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [["get-workout-details"]]
    },
    {
        "id": "get-workout-details",
        "type": "function",
        "z": "latest-workout-flow",
        "name": "Prepare Workout Request",
        "func": "// Get workout details for the latest session\nmsg.payload = {\n    workoutId: flow.get('latestWorkoutId')\n};\nmsg.operation = \"getWorkout\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 200,
        "wires": [["get-workout"]]
    },
    {
        "id": "get-workout",
        "type": "wger-workout",
        "z": "latest-workout-flow",
        "name": "Get Workout",
        "server": "wger-config-auth",
        "operation": "getWorkout",
        "x": 420,
        "y": 200,
        "wires": [["debug-workout", "get-canonical"]]
    },
    {
        "id": "debug-workout",
        "type": "debug",
        "z": "latest-workout-flow",
        "name": "Workout Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "get-canonical",
        "type": "function",
        "z": "latest-workout-flow",
        "name": "Prepare Canonical Request",
        "func": "// Get canonical representation of the workout\nmsg.payload = {\n    workoutId: flow.get('latestWorkoutId')\n};\nmsg.operation = \"getWorkoutCanonical\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 280,
        "wires": [["get-canonical-workout"]]
    },
    {
        "id": "get-canonical-workout",
        "type": "wger-workout",
        "z": "latest-workout-flow",
        "name": "Get Canonical",
        "server": "wger-config-auth",
        "operation": "getWorkoutCanonical",
        "x": 420,
        "y": 280,
        "wires": [["debug-canonical"]]
    },
    {
        "id": "debug-canonical",
        "type": "debug",
        "z": "latest-workout-flow",
        "name": "Workout Structure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject-specific",
        "type": "inject",
        "z": "latest-workout-flow",
        "name": "Latest for Specific Workout",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"workoutId\":123}",
        "payloadType": "json",
        "x": 170,
        "y": 360,
        "wires": [["specific-workout-session"]]
    },
    {
        "id": "specific-workout-session",
        "type": "wger-workout",
        "z": "latest-workout-flow",
        "name": "Latest for Workout",
        "server": "wger-config-auth",
        "operation": "getLatestWorkoutSession",
        "x": 410,
        "y": 360,
        "wires": [["debug-specific"]]
    },
    {
        "id": "debug-specific",
        "type": "debug",
        "z": "latest-workout-flow",
        "name": "Specific Workout Session",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    }
]