examples/workout-creation.json
[
  {
    "id": "workout-creation-flow",
    "type": "tab",
    "label": "Wger Workout Creation",
    "disabled": false,
    "info": "This flow demonstrates how to create a complete workout with days and exercises."
  },
  {
    "id": "wger-config-auth",
    "type": "wger-config",
    "name": "Wger API (Authenticated)",
    "apiUrl": "https://wger.de",
    "authType": "token"
  },
  {
    "id": "inject-create",
    "type": "inject",
    "z": "workout-creation-flow",
    "name": "Create Workout",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"name\":\"Full Body Workout\",\"description\":\"A comprehensive full body workout plan\"}",
    "payloadType": "json",
    "x": 130,
    "y": 100,
    "wires": [["create-workout"]]
  },
  {
    "id": "create-workout",
    "type": "wger-workout",
    "z": "workout-creation-flow",
    "name": "Create Workout",
    "server": "wger-config-auth",
    "operation": "createWorkout",
    "x": 320,
    "y": 100,
    "wires": [["store-workout-id", "debug-workout"]]
  },
  {
    "id": "store-workout-id",
    "type": "function",
    "z": "workout-creation-flow",
    "name": "Store Workout ID",
    "func": "// Store workout ID for use in next steps\nflow.set('workoutId', msg.payload.id);\nmsg.payload = {\n    description: \"Day 1 - Chest and Triceps\",\n    workout: msg.payload.id,\n    day: [1] // Monday\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 100,
    "wires": [["create-day"]]
  },
  {
    "id": "create-day",
    "type": "wger-workout",
    "z": "workout-creation-flow",
    "name": "Create Day",
    "server": "wger-config-auth",
    "operation": "createDay",
    "x": 710,
    "y": 100,
    "wires": [["prepare-exercise", "debug-day"]]
  },
  {
    "id": "prepare-exercise",
    "type": "function",
    "z": "workout-creation-flow",
    "name": "Prepare Exercise",
    "func": "// Store day ID and prepare to add exercises\nflow.set('dayId', msg.payload.id);\n\n// Prepare to add a bench press exercise\nmsg.payload = {\n    exerciseday: msg.payload.id,\n    exercise: 192, // Bench Press Exercise ID (example)\n    sets: 3,\n    order: 1,\n    repetition_unit: 1, // Repetitions\n    weight_unit: 1, // kg\n    rir: \"1-2\", // Reps in Reserve\n    settings: [\n        {\n            reps: 10,\n            weight: 60,\n            rir: \"2\",\n            comment: \"Warm-up set\"\n        },\n        {\n            reps: 8,\n            weight: 80,\n            rir: \"1\",\n            comment: \"Working set\"\n        },\n        {\n            reps: 8,\n            weight: 80,\n            rir: \"1\",\n            comment: \"Working set\"\n        }\n    ]\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 130,
    "y": 200,
    "wires": [["create-set"]]
  },
  {
    "id": "create-set",
    "type": "wger-workout",
    "z": "workout-creation-flow",
    "name": "Create Set",
    "server": "wger-config-auth",
    "operation": "createSet",
    "x": 310,
    "y": 200,
    "wires": [["get-canonical", "debug-set"]]
  },
  {
    "id": "get-canonical",
    "type": "function",
    "z": "workout-creation-flow",
    "name": "Get Workout ID",
    "func": "// Retrieve stored workout ID\nmsg.payload = {\n    workoutId: flow.get('workoutId')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 200,
    "wires": [["get-canonical-rep"]]
  },
  {
    "id": "get-canonical-rep",
    "type": "wger-workout",
    "z": "workout-creation-flow",
    "name": "Get Canonical",
    "server": "wger-config-auth",
    "operation": "getWorkoutCanonical",
    "x": 670,
    "y": 200,
    "wires": [["debug-canonical"]]
  },
  {
    "id": "debug-workout",
    "type": "debug",
    "z": "workout-creation-flow",
    "name": "Created Workout",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 60,
    "wires": []
  },
  {
    "id": "debug-day",
    "type": "debug",
    "z": "workout-creation-flow",
    "name": "Created Day",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 60,
    "wires": []
  },
  {
    "id": "debug-set",
    "type": "debug",
    "z": "workout-creation-flow",
    "name": "Created Set",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 490,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug-canonical",
    "type": "debug",
    "z": "workout-creation-flow",
    "name": "Canonical Representation",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 200,
    "wires": []
  }
]
